@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
    background-color: #e3c1a4;
}

.font-color {
    color: #1eb2df;
}



/* for ribbon */

.ribbon {
    padding: .34em 1em;
    margin: auto;
    margin-top: 2%;
    position: relative;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.1em;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .3),
    inset 0px 0px 20px rgba(0, 0, 0, 0.1),
    0px 1px 1px rgba(0, 0, 0, 0.4);
    background: -webkit-linear-gradient(top, #1eb2df, #17a7d2);
    display: inline-block;
}

.ribbon:before,
.ribbon:after {
    content: "";
    width: .2em;
    bottom: -.5em;
    position: absolute;
    display: block;
    border: .9em solid #1eb2df;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    z-index: -2;
}

.ribbon:before {
    left: -1.15em;
    border-right-width: .75em;
    border-left-color: transparent;
}

.ribbon:after {
    right: -1.15em;
    border-left-width: .75em;
    border-right-color: transparent;
}

#content:before,
#content:after {
    content: "";
    bottom: -.5em;
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #0675b3 transparent transparent transparent;
    z-index: -1;
}

#content:before {
    left: 0;
    border-width: .5em 0 0 .5em;
}

#content:after {
    right: 0;
    border-width: .5em .5em 0 0;
}

.background {
    background-color: #312c32;
    margin: auto;
    border: 2px solid #000;
    outline: 2px dashed #daad86;
    outline-offset: -10px;
    box-shadow: 3px 3px 5px 6px #838084;
    transition-timing-function: ease-in;
    border-color: #c8844a;
}

.proceed:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.label {
    color: #1eb2df;
    font-size: 19px;
    font-weight: bold;
}

.font-18{
    font-size: 18px;
}

.progress-bar {
    height: 22px;
}

.font-20 {
    font-size: 20px;
}

.line {
    width: 25%;
    border: none;
    border-top: medium double #312c32;
    color: #312c32;
}

.line::after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
}

.option-text {
    text-transform: capitalize;
}

.form-label{
    padding-left: 0.7rem;
    font-size: 19px;
    margin-bottom: 0px;
    color: #1eb2df;
}

.custom-control-input{
    position: relative;
}